<div ng-controller="views.showCaseComponents.index as vm">
    <h1>Showcase components</h1>

    <button ng-click="vm.openModal()">open modal</button>
    <div ng-repeat="content in vm.contents">
        <span>{{content}}</span>
    </div>
    
</div>