<div>
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">I'm a modal!</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <div class="row">
            <div class="col-lg-10">
                <h2>Data passed from caller : {{vm.userId}}</h2>
            </div>
            <div class="col-lg-2">
                <input class="form-control margin-top-lg" type="number" ng-model="vm.userId" ng-change="vm.getUser(vm.userId)"/>
            </div>
        </div>
        <div ng-if="!vm.loading">
            
            <div>
                <div class="row">
                    <div class="col-xs-7">
                        <div class="well well-sm">
                            <div class="row" ng-if="vm.user.id">
                                <div class="col-sm-6">
                                    <img ng-if="!vm.user.avatar" ng-src="http://placehold.it/380x500" alt="" class="img-rounded img-responsive pull-right" />
                                    <img ng-if="vm.user.avatar" ng-src="{{vm.user.avatar}}" alt="" class="img-rounded img-responsive pull-right" />
                                </div>
                                <div class="col-sm-6">
                                    <h4>{{vm.user.first_name}} {{vm.user.last_name}}</h4>
                                    <small><cite title="San Francisco, USA">San Francisco, USA <i class="glyphicon glyphicon-map-marker"></i></cite></small>
                                    <p>
                                        <i class="glyphicon glyphicon-envelope"></i>{{vm.user.email}}
                                        <br />
                                        <i class="glyphicon glyphicon-globe"></i><a href="http://www.jquery2dotnet.com">www.jquery2dotnet.com</a>
                                        <br />
                                        <i class="glyphicon glyphicon-gift"></i>June 02, 1988
                                    </p>
                                    <!-- Split button -->
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-primary">
                                            Social</button>
                                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                            <span class="caret"></span><span class="sr-only">Social</span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Twitter</a></li>
                                            <li><a href="https://plus.google.com/+Jquery2dotnet/posts">Google +</a></li>
                                            <li><a href="https://www.facebook.com/jquery2dotnet">Facebook</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">Github</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-5">
                        <pre>{{vm.user | json: 2}}</pre>
                    </div>
                </div>
            </div>
            
        </div>
    
        <div ng-if="vm.loading">
            <div class="row text-center">
                <div class="col-lg-12">
                    <i class="fa fa-spinner fa-spin fa-3x" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" type="button" ng-click="vm.cancel()">Cancel</button>
        <button class="btn btn-primary" type="button" ng-click="vm.ok()">OK</button>
    </div>
</div>