<div ng-controller="views.home.index as vm">

    <div class="container">
        <div class="page-header">
            <h1 class="text-center">Home</h1>
        </div>
        <div class="center-block text-center">
            <button ng-click="vm.getUsers(1)" class="btn btn-default">show users</button>
    
            <br>
            <br>
            <br>
            
            <div ng-if="vm.users">
                <nav>
                    <ul class="pagination">
                      <li><a href="javascript:void(0)" ng-click="vm.getUsers(1)"><span aria-hidden="true">&laquo;</span></a></li>
                      <li ng-class="{'active':vm.page === 1}"><a href="javascript:void(0)" ng-click="vm.getUsers(1)">1</a></li>
                      <li ng-class="{'active':vm.page === 2}"><a href="javascript:void(0)" ng-click="vm.getUsers(2)">2</a></li>
                      <li><a href="javascript:void(0)" ng-click="vm.getUsers(2)"><span aria-hidden="true">&raquo;</span></a></li>
                    </ul>
                  </nav>
            </div>
        
            <div ng-if="!vm.loading">
                <table class="table table-condensed table-bordered" ng-if="vm.users">
                    <thead>
                        <tr>
                            <td><b>#</b></td>
                            <td><b>First Name</b></td>
                            <td><b>Last Name</b></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in vm.users">
                            <td><img ng-src="{{user.avatar}}" width="50" height="50"></td>
                            <td>{{user.first_name}}</td>
                            <td>{{user.last_name}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        
            <div ng-if="vm.loading">
                <span>
                    <i class="fa fa-spinner fa-spin fa-3x" aria-hidden="true"></i>
                </span>
            </div>
        </div>
    </div>

</div>