<div ng-controller="views.aboutUs.index as vm">
    <div class="container">
        <div class="page-header">
            <h1 class="text-center">About us</h1>
        </div>
        <div class="center-block">
            <p>
                {{vm.content}}
            </p>
        </div>
    </div>
</div>